<!-- This is the form used to add rows to the table -->
<%= simple_form_for([chart, dataset], remote: true) do |f| %>
  <div class="table-entry">
    <div class="left-form">
      <%= f.input :label, placeholder: 'Label', label: false %>
    </div>
    <div class="right-form">
      <% if chart.chart_type == "waterfall" %>
      <%= f.input :value_user, placeholder: 'Value', label: false %>
      <% else %>
      <%= f.input :value, placeholder: 'Value', label: false %>
      <% end %>
    </div>
    <div class="submit-form">
      <%= f.button :button do %>
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
<% end %>
