<%= simple_form_for(@chart) do |f| %>
  <h5 class="margin-top">FONT-SIZE</h5>
  <div class="font-size-entry">
    <div class="font-size-picker">
      <%= f.input :font_size, label: false, collection: [ 8, 12, 16, 24, 32 ] %>
    </div>
    <div class="font-size-btn">
      <%= f.button :button, name: "active_tab", value: "design" do %>
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
<% end %>

<% colors = colors_selector %>

<div class="color-selection">
  <h5>COLOR</h5>
  <% colors.each do |color, value| %>
    <%= link_to chart_path(chart: {color: color}, active_tab: "design"), method: :patch do %>
      <div class="color-box" style="background-color:<%= value %>"></div>
    <% end %>
  <% end %>
</div>

<% unless @chart.chart_type == "waterfall" %>

  <div class="type-selection">
    <h5>TYPE</h5>
    <% types = ["bar", "line", "pie"] %>
    <% types.each do |type| %>
      <%= link_to chart_path(chart: {chart_type: type}, active_tab: "design"), method: :patch do %>
        <div class="type-button">
          <i class="fa fa-<%= type %>-chart" aria-hidden="true"></i>
        </div>
      <% end %>
    <% end %>
  </div>

<% end %>
