<div class="row">
  <% @charts.order(updated_at: :desc).each do |chart| %>

    <div class="col-xs-12 col-sm-4 col-md-3">
      <div class="card">
        <%= link_to edit_chart_path(chart) do %>
           <div class="card-image" id="chart-<%= chart.id %>">
             <svg width=212 height=200></svg>
             <%= render "chart_script_#{chart.chart_type}", chart: chart %>
            <!-- <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<= image_path chart.chart_image %>')">
            </div> -->
           </div>
        <% end %>

        <div class="body">
          <div class="card-title">
            <%= link_to chart.title, edit_chart_path(chart), class:"chart-title" %>
          </div>
          <div class="card-delete">
            <i class="fa fa-trash-o" data-toggle="modal" data-target="#myModal-<%= chart.id %>" data-id-chart="<%= chart.id %>"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal-<%= chart.id %>" tabindex="0" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">WARNING</h5>
          </div>
          <div class="modal-body">
            <h5>Your chart will be permanently removed.</h5>
            <h5>Are you sure you want to delete it?</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= link_to chart_path(chart), method: :delete do  %>
              <button type="button" class="btn btn-primary">Confirm</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>

<!-- Button trigger modal -->
