<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#data">DATA</a></li>
          <li><a data-toggle="tab" href="#design">DESIGN</a></li>
          <li><a data-toggle="tab" href="#notes">NOTES</a></li>
        </ul>

        <div class="tab-content">
          <div id="data" class="tab-pane fade in active">
            <div id="data-sets-table">
              <div class="table-heading">
                <div class="table-cell">
                  <p>LABEL</p>
                </div>
                <div class="table-cell">
                  <p>VALUE</p>
                </div>
              </div>
              <% @chart.datasets.each do |dataset| %>
                <div class="table-row">
                  <div class="table-cell">
                    <p><%= "#{dataset.label}" %></p>
                  </div>
                  <div class="table-cell">
                    <p><%= "#{dataset.value}" %></p>
                  </div>
                  <div class="table-cell-s edit-delete">
                    <%= link_to "" do %>
                      <%= image_tag "pencil.svg" %>
                    <% end %>
                    <%= link_to image_tag("trash-simple.svg"), dataset_path(dataset), method: :delete, data: { confirm: "Are you sure? " } %>
                  </div>
                </div>
              <% end %>
            </div>
            <%= render 'datasets/form' %>
          </div>

          <div id="design" class="tab-pane fade">
            <%= render 'design_section' %>
          </div>

          <div id="notes" class="tab-pane fade">
            <%= render 'notes_section' %>
          </div>
        </div>
      </div>

      <div class="col-xs-6">
        <div id="chart-<%= @chart.id %>">
           <svg width="450" height="400"></svg>
        </div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<%= render 'chart_script', chart: @chart%>
